@import 'variables';

* {
  box-sizing: border-box;
  // position: relative;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: $accent-color;
  color: $black;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $primary-color;
  background-color: $white;
  // font-size: 10px;
  font-family: $body-font;
  touch-action: manipulation;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100%;

  &.mobile-safari {
    -webkit-overflow-scrolling: touch;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
