@import 'styles/variables';
@import 'styles/mixins';

.reviewTile {
  &__heartIcon {
    float: right;

    &--isFavoritePage {
      color: $night-blue;
    }
  }

  &__ratingIcon {
    color: $night-blue;
    cursor: default;
  }
}
