@import 'styles/variables';
@import 'styles/mixins';

.forumTile {
  &__heartIcon {
    color: $night-blue;
    float: right;

    // &--isFavoritePage {
    //   color: $night-blue;
    // }
  }

  &__ratingIcon {
    color: $night-blue;
    cursor: default;
  }
}
