@import 'styles/variables';
@import 'styles/mixins';

.profile {
  &__avatar {
    border-radius: 100%;
  }

  &__fields {
    margin-top: 30px;
    max-width: 400px;
  }

  &__forums {
    &--tiles {
      @include grid();
    }
  }
}
