@import 'styles/mixins';
@import 'styles/variables';

.profile {
  position: relative;

  &__avatar {
    cursor: pointer;
    border-radius: $full-radius;

    img {
      border-radius: $full-radius;
      object-fit: cover;
    }
  }

  &__signedAs > p {
    @include divider-bottom($padding: $spacing-3);
    padding: $spacing-2;
    margin: 0 0 1em;
    font-size: $medium;
  }

  &__menu {
    outline: 1px solid $light-gray;
    position: absolute;
    right: 0;
    transform: translateY($spacing-2);
    background-color: $soft-white;
    padding: $spacing-1 0;
    width: $spacing-40;

    &::before {
      content: '';
      border-top: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
      width: 9.5px;
      height: 9.5px;
      transform: rotate(-45deg);
      position: absolute;
      top: -6px;
      right: 10px;
      background-color: $soft-white;
    }
  }

  &__links {
    @include flex($direction: column);

    & a {
      transition: background-color 0.1s;
      padding: 2px $spacing-1;
    }
    & a:hover {
      background-color: $gray-4;
    }
  }

  &__loginOption {
    @include divider-top($padding: $spacing-1);
    text-align: center;
    margin-top: 1em;
  }
}
