@import 'styles/variables';

.input {
  width: 100%;
  outline: none;
  border: none;
  padding: $spacing-1 0;
  font-size: $medium;
  letter-spacing: 0.0175em;
  color: $black;
  background-color: transparent;
  border-radius: 2px;

  &::placeholder {
    color: $concrete;
  }

  &:disabled {
    color: $concrete;
  }
}
