@import 'styles/variables';
@import 'styles/mixins';

.nav {
  @include flex($align-items: center, $justify-content: space-between);
  height: $nav-height;
  border-bottom: 1px solid $trans-black-3;
  padding: 0 $spacing-5;

  &__brandName {
    margin: 0;
    font-size: $large;
  }

  &__rightSide {
    @include flex($align-items: center);
    column-gap: $spacing-5;

    // &--icon {
    //   position: relative;

    &--numberOfForums {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $green;
      border-radius: $full-radius;
      padding: 3px 7px;
      font-size: $xx-small;

      a & {
        position: relative;
      }
      // }
    }
  }
}
