@import 'styles/variables';
@import 'styles/mixins';

.navContainer {
  height: $nav-height;
  border-bottom: 1px solid $trans-black-3;
  padding: 0 $spacing-5;
  // margin-bottom: $spacing-2;
  @include flex($align-items: center, $justify-content: space-between);
}

.brandName {
  margin: 0;
  font-size: $large;
}

.linksContainer {
  display: flex;
  column-gap: $spacing-4;
}
