@import 'styles/variables';
@import 'styles/mixins';

.field {
  @include flex($direction: column, $row-gap: $spacing-1);
  cursor: default;

  // for icon
  span {
    cursor: default;
  }

  &__wrapper {
    @include flex($column-gap: $spacing-1);
    border: 1px solid $concrete;
    border-radius: 3px;
    padding: $spacing-1 $spacing-2;
  }
}
